@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root, #root>div {
  height: 100%
}

html {
	overflow: hidden;
}

.folder-title {
  cursor: pointer;
}

.form-select {
  -moz-padding-start: calc(.75rem - 3px);
  padding-right: 30px;
  background-image: url("../public/download.svg");
  background-position: right 0.75rem center;
  background-size: 16px 12px;
}